---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_10/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449740700000,"lte":1449744300000}}}]}}}},"size":0,"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"2m","min_doc_count":1,"extended_bounds":{"min":1449740700000,"max":1449744300000}},"aggregations":{"value":{"terms":{"field":"memoryAddress"},"aggregations":{"average_value":{"avg":{"field":"value"}},"max_value":{"max":{"field":"value"}},"min_value":{"min":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":23,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":11620,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":[{"key_as_string":"2015-12-10T09:44:00.000Z","key":1449740640000,"doc_count":506,"value":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"2e491eew","doc_count":506,"min_value":{"value":0.0},"average_value":{"value":5391.934782608696},"max_value":{"value":8043.0}}]}},{"key_as_string":"2015-12-10T09:46:00.000Z","key":1449740760000,"doc_count":425,"value":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"2e491eew","doc_count":425,"min_value":{"value":0.0},"average_value":{"value":4288.943529411765},"max_value":{"value":8024.0}}]}},{"key_as_string":"2015-12-10T09:48:00.000Z","key":1449740[...]
