<div class='row train'>
  <div class='rear'>
    <div class='window'></div>
  </div>

  <% ('a'..'d').each do |l| %>
  <div class='carriage-wrapper' id='car-<%= l %>-r'>
    <%= erb :'includes/carriage' %>
  </div>
  <% end %>

  <% ('a'..'d').reverse_each do |l| %>
  <div class='carriage-wrapper' id='car-<%= l %>-f'>
    <%= erb :'includes/carriage' %>
  </div>
  <% end %>

  <div class='front'>
    <div class='window'></div>
  </div>
</div>
