<% def draw_wheels(count) %>
  <% count.times do |i| %>
    <%= erb :'includes/wheel', locals: { span: 12 / count } %>
  <% end %>
<% end %>

<div class='wheels row hidden-sm hidden-xs'>
  <% draw_wheels(2) %>
</div>

<div class='wheels row hidden-md hidden-lg'>
  <% draw_wheels(1) %>
</div>
