---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1441105200000}}}]}}}},"size":0,"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","time_zone":"+01:00","min_doc_count":1,"extended_bounds":{"min":1441101600000,"max":1441105200000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":7,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":9766,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":[{"key_as_string":"2015-09-01T11:00:00.000+01:00","key":1441101600000,"doc_count":3139,"average_value":{"value":5392.661357120102}},{"key_as_string":"2015-09-01T11:10:00.000+01:00","key":1441102200000,"doc_count":2372,"average_value":{"value":5158.5278246205735}},{"key_as_string":"2015-09-01T11:20:00.000+01:00","key":1441102800000,"doc_count":417,"average_value":{"value":4691.182254196643}},{"key_as_string":"2015-09-01T11:30:00.000+01:00","key":1441103400000,"doc_count":2204,"average_value":{"value":4679.4178765880215}},{"key_as_string":"2015-09-01T11:40:00.000+01:00","key":1441104000000,"doc_count":236,"average_value":{"value":5168.512711864407}},{"key_as_string":"2015-09-01T11:50:00.000+01:00","key":1441104600000,"doc_count":1398,"average_value":{"value":5522.801144492131}}]}}}'
  recorded_at: Mon, 30 Nov 2015 13:21:07 GMT
recorded_with: VCR 3.0.0
