---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449820800000,"lte":1449821400000}}}]}}}},"size":0,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"count":233,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Mon, 14 Mar 2016 14:06:01 GMT
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449820800000,"lte":1449821400000}}}]}}}},"size":233,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":233,"max_score":null,"hits":[{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03102E5485AW-187517398215","_score":null,"_source":{"id":"03102E5485AW-187517398215","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1285,"timeStamp":"2015-12-11T08:09:58.215Z","vcuNumber":310},"sort":[1449821398215]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03042E5485AW-187517397640","_score":null,"_source":{"id":"03042E5485AW-187517397640","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1285,"timeStamp":"2015-12-11T08:09:57.64Z","vcuNumber":304},"sort":[1449821397640]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03042E5485AW-187517397162","_score":null,"_source":[...]
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e64930w
        OR memoryAddress:2e64932w OR memoryAddress:2e64934w OR memoryAddress:2e64936w"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449821338000,"lte":1449821458000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2e64930w":{"term":{"memoryAddress":"2e64930w"}},"2e64932w":{"term":{"memoryAddress":"2e64932w"}},"2e64934w":{"term":{"memoryAddress":"2e64934w"}},"2e64936w":{"term":{"memoryAddress":"2e64936w"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1449821338000,"max":1449821458000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":596,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2e64930w":{"doc_count":149,"results":{"buckets":[{"key_as_string":"2015-12-11T08:00:00.000Z","key":1449820800000,"doc_count":92,"average_value":{"value":57.358695652173914}},{"key_as_string":"2015-12-11T08:10:00.000Z","key":1449821400000,"doc_count":57,"average_value":{"value":56.75438596491228}}]}},"2e64932w":{"doc_count":168,"results":{"buckets":[{"key_as_string":"2015-12-11T08:00:00.000Z","key":1449820800000,"doc_count":100,"average_value":{"value":73.02}},{"key_as_string":"2015-12-11T08:10:00.000Z","key":1449821400000,"doc_count":68,"average_value":{"value":74.73529411764706}}]}},"2e64934w":{"doc_count":144,"results":{"buckets":[{"key_as_string":"2015-12-11T08:00:00.000Z","key":1449820800000,"doc_count":84,"average_value":{"value":63.17857142857143}},{"key_as_string":"2015-12-11T08:10:00.000Z","key":1449821400000,"doc_count":60,"average_value":{"value":61.63333333333333}}]}},"2e64936w":{"doc_count":135,"results":{"buckets":[{"key_as_string":"2015-12-11T08:00:00.000Z","key":1449820800000,"doc_count":76,"average_value":{"value":73.47368421052632}},{"key_as_string":"2015-12-11T08:10:00.000Z","key":1449821400000,"doc_count":59,"average_value":{"value":74.16949152542372}}]}}}}}}'
  recorded_at: Mon, 14 Mar 2016 14:06:02 GMT
[...]
