---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW
        AND value:1193"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442419342000,"lte":1442505742000}}}]}}}},"size":100,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":9,"max_score":null,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180173590890","_score":null,"_source":{"id":"03042E5485AW-180173590890","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1193,"timeStamp":"2015-09-17T08:13:10.89Z","vcuNumber":304,"runLengthMs":14569},"sort":[1442477590890]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180169485028","_score":null,"_source":{"id":"03042E5485AW-180169485028","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1193,"timeStamp":"2015-09-17T07:04:45.028Z","vcuNumber":304,"runLengthMs":37331},"sort":[1442473485028]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180165341459","_score":null,"_source"[...]
[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW
        AND value:1193"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442246542000,"lte":1442332942000}}}]}}}},"size":100,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":1,"max_score":null,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-179949268975","_score":null,"_source":{"id":"03042E5485AW-179949268975","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1193,"timeStamp":"2015-09-14T17:54:28.975Z","vcuNumber":304,"runLengthMs":24900},"sort":[1442253268975]}]}}'
  recorded_at: Tue, 19 Jan 2016 13:32:48 GMT
[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442505682000,"lte":1442505802000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2E64930W":{"term":{"memoryAddress":"2E64930W"}},"2E64932W":{"term":{"memoryAddress":"2E64932W"}},"2E64934W":{"term":{"memoryAddress":"2E64934W"}},"2E64936W":{"term":{"memoryAddress":"2E64936W"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1442505682000,"max":1442505802000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":248,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2E64930W":{"doc_count":87,"results":{"buckets":[{"key_as_string":"2015-09-17T16:00:00.000Z","key":1442505600000,"doc_count":87,"average_value":{"value":25.333333333333332}}]}},"2E64932W":{"doc_count":67,"results":{"buckets":[{"key_as_string":"2015-09-17T16:00:00.000Z","key":1442505600000,"doc_count":67,"average_value":{"value":33.83582089552239}}]}},"2E64934W":{"doc_count":31,"results":{"buckets":[{"key_as_string":"2015-09-17T16:00:00.000Z","key":1442505600000,"doc_count":31,"average_value":{"value":26.193548387096776}}]}},"2E64936W":{"doc_count":63,"results":{"buckets":[{"key_as_string":"2015-09-17T16:00:00.000Z","key":1442505600000,"doc_count":63,"average_value":{"value":10.428571428571429}}]}}}}}}'
  recorded_at: Tue, 19 Jan 2016 13:32:49 GMT
recorded_with: VCR 3.0.0
