---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW
        AND value:1193"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442998800000,"lte":1443085200000}}}]}}}},"size":100,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":8,"max_score":null,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180776337084","_score":null,"_source":{"id":"03042E5485AW-180776337084","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1193,"timeStamp":"2015-09-24T07:38:57.084Z","vcuNumber":304,"runLengthMs":48900},"sort":[1443080337084]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180772148053","_score":null,"_source":{"id":"03042E5485AW-180772148053","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1193,"timeStamp":"2015-09-24T06:29:08.053Z","vcuNumber":304,"runLengthMs":42431},"sort":[1443076148053]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180732987606","_score":null,"_source"[...]
[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1443080277000,"lte":1443080397000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2E64930W":{"term":{"memoryAddress":"2E64930W"}},"2E64932W":{"term":{"memoryAddress":"2E64932W"}},"2E64934W":{"term":{"memoryAddress":"2E64934W"}},"2E64936W":{"term":{"memoryAddress":"2E64936W"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1443080277000,"max":1443080397000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":351,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2E64930W":{"doc_count":99,"results":{"buckets":[{"key_as_string":"2015-09-24T07:30:00.000Z","key":1443079800000,"doc_count":99,"average_value":{"value":101.67676767676768}}]}},"2E64932W":{"doc_count":94,"results":{"buckets":[{"key_as_string":"2015-09-24T07:30:00.000Z","key":1443079800000,"doc_count":94,"average_value":{"value":98.8936170212766}}]}},"2E64934W":{"doc_count":79,"results":{"buckets":[{"key_as_string":"2015-09-24T07:30:00.000Z","key":1443079800000,"doc_count":79,"average_value":{"value":94.0632911392405}}]}},"2E64936W":{"doc_count":79,"results":{"buckets":[{"key_as_string":"2015-09-24T07:30:00.000Z","key":1443079800000,"doc_count":79,"average_value":{"value":103.30379746835443}}]}}}}}}'
  recorded_at: Tue, 19 Jan 2016 13:32:47 GMT
[...]
