---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"(memoryAddress:2E5485AW)
        AND (vcuNumber:304 OR vcuNumber:306 OR vcuNumber:308 OR vcuNumber:310)"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449820800000,"lte":1449821400000}}}]}}}},"size":0,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"count":233,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Fri, 06 May 2016 09:43:07 GMT
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"(memoryAddress:2E5485AW)
        AND (vcuNumber:304 OR vcuNumber:306 OR vcuNumber:308 OR vcuNumber:310)"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449820800000,"lte":1449821400000}}}]}}}},"size":233,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":6,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":233,"max_score":null,"hits":[{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03102E5485AW-187517398215","_score":null,"_source":{"id":"03102E5485AW-187517398215","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1285,"timeStamp":"2015-12-11T08:09:58.215Z","vcuNumber":310},"sort":[1449821398215]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03042E5485AW-187517397640","_score":null,"_source":{"id":"03042E5485AW-187517397640","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1285,"timeStamp":"2015-12-11T08:09:57.64Z","vcuNumber":304},"sort":[1449821397640]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03042E5485AW-187517397162","_score":null,"_source":[...]
[...]
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"(memoryAddress:2e64930w
        OR memoryAddress:2e64932w OR memoryAddress:2e64934w OR memoryAddress:2e64936w)
        AND (vcuNumber:304)"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449821221000,"lte":1449821341000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2e64930w":{"term":{"memoryAddress":"2e64930w"}},"2e64932w":{"term":{"memoryAddress":"2e64932w"}},"2e64934w":{"term":{"memoryAddress":"2e64934w"}},"2e64936w":{"term":{"memoryAddress":"2e64936w"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1449821221000,"max":1449821341000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":381,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2e64930w":{"doc_count":102,"results":{"buckets":[{"key_as_string":"2015-12-11T08:00:00.000Z","key":1449820800000,"doc_count":102,"average_value":{"value":81.00980392156863}}]}},"2e64932w":{"doc_count":96,"results":{"buckets":[{"key_as_string":"2015-12-11T08:00:00.000Z","key":1449820800000,"doc_count":96,"average_value":{"value":95.80208333333333}}]}},"2e64934w":{"doc_count":91,"results":{"buckets":[{"key_as_string":"2015-12-11T08:00:00.000Z","key":1449820800000,"doc_count":91,"average_value":{"value":60.83516483516483}}]}},"2e64936w":{"doc_count":92,"results":{"buckets":[{"key_as_string":"2015-12-11T08:00:00.000Z","key":1449820800000,"doc_count":92,"average_value":{"value":93.5}}]}}}}}}'
  recorded_at: Fri, 06 May 2016 09:43:08 GMT
[...]
