---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442995200000,"lte":1442995800000}}}]}}}},"size":0,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"count":103,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Mon, 21 Dec 2015 11:15:37 GMT
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442995200000,"lte":1442995800000}}}]}}}},"size":103,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":103,"max_score":null,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180691681928","_score":null,"_source":{"id":"03042E5485AW-180691681928","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":170,"timeStamp":"2015-09-23T08:08:01.928Z","vcuNumber":304,"runLengthMs":7750},"sort":[1442995681928]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180691675481","_score":null,"_source":{"id":"03042E5485AW-180691675481","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":172,"timeStamp":"2015-09-23T08:07:55.481Z","vcuNumber":304,"runLengthMs":6347},"sort":[1442995675481]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180691671481","_score":null,"_source":{"[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442995621000,"lte":1442995741000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2E64930W":{"term":{"memoryAddress":"2E64930W"}},"2E64932W":{"term":{"memoryAddress":"2E64932W"}},"2E64934W":{"term":{"memoryAddress":"2E64934W"}},"2E64936W":{"term":{"memoryAddress":"2E64936W"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1442995621000,"max":1442995741000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":125,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2E64930W":{"doc_count":39,"results":{"buckets":[{"key_as_string":"2015-09-23T08:00:00.000Z","key":1442995200000,"doc_count":39,"average_value":{"value":11.102564102564102}}]}},"2E64932W":{"doc_count":32,"results":{"buckets":[{"key_as_string":"2015-09-23T08:00:00.000Z","key":1442995200000,"doc_count":32,"average_value":{"value":4.34375}}]}},"2E64934W":{"doc_count":23,"results":{"buckets":[{"key_as_string":"2015-09-23T08:00:00.000Z","key":1442995200000,"doc_count":23,"average_value":{"value":1.5217391304347827}}]}},"2E64936W":{"doc_count":31,"results":{"buckets":[{"key_as_string":"2015-09-23T08:00:00.000Z","key":1442995200000,"doc_count":31,"average_value":{"value":1.4516129032258065}}]}}}}}}'
  recorded_at: Mon, 21 Dec 2015 11:15:38 GMT
recorded_with: VCR 3.0.0
