<p><a href="/stations" class="text-muted"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back to list</a></p>

<%= erb :'includes/crowding_form' %>

<h2>Next <%= params[:direction] %> trains at <%= I18n.t "stations.#{db_signal params[:station]}" %></h2>

<%= erb :'includes/train' %>

<script>
$.getJSON(document.URL, function(data) {
  if (data[0]) {
    $.each(['f', 'r'], function(index, value) {
    $('#car-a-' + value + ' .num').text(percentage(data[0][1].CAR_A))
    $('#car-b-' + value + ' .num').text(percentage(data[0][1].CAR_B))
    $('#car-c-' + value + ' .num').text(percentage(data[0][1].CAR_C))
    $('#car-d-' + value + ' .num').text(percentage(data[0][1].CAR_D))

    setHeight('#car-a-' + value + ' .level', data[0][1].CAR_A)
    setHeight('#car-b-' + value + ' .level', data[0][1].CAR_B)
    setHeight('#car-c-' + value + ' .level', data[0][1].CAR_C)
    setHeight('#car-d-' + value + ' .level', data[0][1].CAR_D)
  })
  }
})

function setHeight(el, num) {
  $(el).height(percentage(num))
  if (num >= 100) {
    $(el).addClass('overloaded')
  }
}

function percentage(num) {
  return Math.round(num) + '%'
}

function valBetween(v, min, max) {
  return (Math.min(max, Math.max(min, v)));
}

$(function() {
  callDatePicker()
})
</script>
