<p><a href="/stations" class="text-muted"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back to list</a></p>

<%= erb :'includes/crowding_form' %>

<h2>Next <%= params[:direction] %> trains at <%= I18n.t "stations.#{db_signal params[:station]}" %></h2>

<%= erb :'includes/train' %>

<script>
$.getJSON(document.URL, function(data) {
  if (data[0]) {
    $.each(['f', 'r'], function(i, side) {
      $.each(['a', 'b', 'c', 'd'], function(j, letter) {
        var car = 'car-' + letter;
        var value = data[0][1][car.toUpperCase().replace('-', '_')];

        $('#' + car + '-' + side + ' .num').text(percentage(value))
        setHeight('#' + car + '-' + side + ' .level', value)
      })
    })
  }
})

function setHeight(el, num) {
  $(el).height(percentage(num))
  // need a case switch here to set levels of loading
  if (num >= 100) {
    $(el).addClass('overloaded')
  }
}

function percentage(num) {
  return valBetween(Math.round(num), 0, 100) + '%'
}

function valBetween(v, min, max) {
  return (Math.min(max, Math.max(min, v)));
}

$(function() {
  callDatePicker()
})
</script>
