<h2>Next <%= params[:direction] %> trains at <%= I18n.t "stations.#{db_signal params[:station]}" %></h2>

<div class="row train">
  <div class='carriage-wrapper' id='car1'>
    <div class='carriage'>
      <div class='level'>
        <p class='num'></p>
      </div>
      <div class='windows'>
        <div class='window'></div>
        <div class='window'></div>
        <div class='window'></div>
      </div>
    </div>
  </div>

  <div class='carriage-wrapper' id='car2'>
    <div class='carriage'>
      <div class='level'>
        <p class='num'></p>
      </div>
      <div class='windows'>
        <div class='window'></div>
        <div class='window'></div>
        <div class='window'></div>
      </div>
    </div>
  </div>

  <div class='carriage-wrapper' id='car3'>
    <div class='carriage'>
      <div class='level'>
        <p class='num'></p>
      </div>
      <div class='windows'>
        <div class='window'></div>
        <div class='window'></div>
        <div class='window'></div>
      </div>
    </div>
  </div>

  <div class='carriage-wrapper' id='car4'>
    <div class='carriage'>
      <div class='level'>
        <p class='num'></p>
      </div>
      <div class='windows'>
        <div class='window'></div>
        <div class='window'></div>
        <div class='window'></div>
      </div>
    </div>
  </div>

  <div class="front">
    <div class="window"></div>
  </div>
</div>

<script>
$.getJSON(document.URL, function(data) {
  $('#car1 .level').height(percentage(data[0][1].CAR_A))
  $('#car2 .level').height(percentage(data[0][1].CAR_B))
  $('#car3 .level').height(percentage(data[0][1].CAR_C))
  $('#car4 .level').height(percentage(data[0][1].CAR_D))

  $('#car1 .num').text(percentage(data[0][1].CAR_A))
  $('#car2 .num').text(percentage(data[0][1].CAR_B))
  $('#car3 .num').text(percentage(data[0][1].CAR_C))
  $('#car4 .num').text(percentage(data[0][1].CAR_D))
})

function percentage(num) {
  return valBetween(Math.round(num), 0, 100) + '%'
}

function valBetween(v, min, max) {
  return (Math.min(max, Math.max(min, v)));
}

</script>
