<%= erb(:"includes/signal_form", locals: {target: "/dashboards/#{@dashboard}"}) %>
<div id="dashboard" class="row"></div>

<script id="dashboard-item" type="text/x-handlebars-template">
  <div class='col-md-6' id={{slugify name}}>
    <div class='panel panel-default dashboard-item'>
      <div class='panel-heading'>
        <h3 class='panel-title'>{{name}}</h3>
      </div>
      <iframe src='{{url}}?layout=simple' height='100%' width='100%' frameborder='0' scrolling='no'></iframe>
    </div>
  </div>
</script>

<script>
$(function () {
  callDatePicker();

  Handlebars.registerHelper('slugify', function(name) {
    name = Handlebars.Utils.escapeExpression(name);
    var result = name.replace(/[^a-z ]/ig, '').trim().replace(/ /g, '-').toLowerCase();
    return new Handlebars.SafeString(result);
  });

  d3.json(document.URL, function(error, json) {
    var signals = []
    json.signals.forEach(function(signal) {
      var source = $("#dashboard-item").html()
      var template = Handlebars.compile(source);
      var html = template(signal);
      signals.push(html)
    })
    d3.selectAll("#dashboard").html(signals.join(''))
  });
});

</script>
