<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= erb :'includes/header' %>
    <link rel="stylesheet" href="/public/default.css" />
  </head>

  <body>
    <%= erb :'includes/github-corner' %>
    <div class='container'>
      <div class='page-header'>
        <h1><a href='/'><i class='fa fa-subway'></i></a> <%= @title %></h1>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
