<% stations = YAML.load_file File.join('config', 'stations.yml') %>

<p id="loading"><i class="fa fa-spinner fa-spin"></i></p>

<div id="stations" class="hidden">
  <div class='col-md-6'>
    <h2>Northbound</h2>
    <%= erb :"includes/_stations", locals: { stations: Hash[stations.to_a.reverse], direction: :northbound } %>
  </div>

  <div class='col-md-6'>
    <h2>Southbound</h2>
    <%= erb :"includes/_stations", locals: { stations: stations, direction: :southbound } %>
  </div>
</div>

<script src="/public/javascripts/heatmap.js"></script>
<script src="/public/javascripts/colouriser.js"></script>
<script>
$(function () {
  loadHeatmap(document.URL);
});
</script>
