<ul id="menu">
  <li>
    <a href='/stations'><i class="fa fa-users"></i><br />Crowding data</a>
  </li>
  <li>
    <a href='/heatmap'><i class="fa fa-bar-chart"></i><br />Heatmap<br /><br /></a>
  </li>
  <!--<li>
    <a data-toggle="modal" href="#signal-modal"><i class="fa fa-line-chart"></i><br />Signal<br />graphs</a>
  </li>-->
</ul>

<div class="modal fade" tabindex="-1" role="dialog" id='signal-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Signal graphs</h4>
      </div>
      <div class="modal-body">
        <%= erb :'includes/signals-caveat' %>
      </div>
      <div class="modal-footer">
        <a href='/signals' class='btn btn-success'>Login</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class='row'>
  <div class='col-md-3'></div>

  <% lines = File.read('README.md').split("\n") %>
  <% interesting_index = lines.index { |s| s =~ /^#/ } %>
  <% good_parts = lines[interesting_index..-1] %>
  <% good_parts[0] = good_parts[0] + " <button data-toggle='collapse' data-target='#readme' class='btn btn-info read-docs pull-right'>Show documentation <i class='fa fa-arrow-circle-down'></i></button>" %>

  <div class='col-md-6 well docs'>
    <div id='heading'>
      <%= Kramdown::Document.new(good_parts[0..2].join("\n")).to_html %>
    </div>
    <div id='readme' class='collapse'>
      <%= Kramdown::Document.new(good_parts[3..-1].join("\n")).to_html %>
    </div>
  </div>
  <div class='col-md-3'></div>
</div>

<script>
  $('.read-docs').click(function(){
    var $this = $(this);
    $this.toggleClass('read-docs');
    if($this.hasClass('read-docs')){
      $this.html('Show documentation <i class="fa fa-arrow-circle-down"></i>');
    } else {
      $this.html('Hide documentation <i class="fa fa-arrow-circle-up"></i>');
    }
  });
</script>
