<h2>Things that are here:</h2>

<ul id="menu">
  <li>
    <a href='/signals'><i class="fa fa-line-chart"></i><br />Signal<br />graphs</a>
  </li>
  <li>
    <a href='/stations'><i class="fa fa-users"></i><br />Crowding data</a>
  </li>
  <li>
    <a href='/heatmap'><i class="fa fa-bar-chart"></i><br />Heatmap<br /><br /></a>
  </li>
</ul>
