<form class='form-inline' action='/signals/<%= @signal %>' method='post'>
  <div class='form-group'>
    <div class='input-group date' id='from-date'>
      <label for='from'>From</label>
      <input type='text' class="form-control" id='from' name='from'/>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class='form-group'>
    <div class='input-group date' id='to-date'>
      <label for='from'>To</label>
      <input type='text' class="form-control" id='to' name='to'/>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class='form-group'>
    <label for='interval'>Interval</label>
    <select name='interval' id='interval'>
      <%
        [
          "1s",
          "5s",
          "10s",
          "30s",
          "1m",
          "5m",
          "10m",
          "30m",
          "1h",
          "1d"
        ].each do |interval|
      %>
      <option <% if @params[:interval] == interval %>selected='selected' <% end %>><%= interval %></option>
      <% end %>
    </select>

    <input type='text' class='form-control' id='interval' name='interval' value='<%= params[:interval] %>' style='width: 75px'>
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </div>
</form>

<div id='chart' style="height:600px; width: 100%;">
  <p><i class="fa fa-spinner fa-spin"></i></p>
</div>

<script>

function myGraph(json) {

  var timeFormat = d3.time.format('%Y-%m-%dT%H:%M:%S+00:00');

  var data = {
      x: [],
      y: [],
      type: 'scatter'
  };

  var layout = {
    xaxis: {
      tickangle: 75,
      exponentformat: 'e',
      type: 'datetime',
      tickfont: {
        family: 'RailwayRegular'
      }
    },
    yaxis: {
      tickfont: {
        family: 'RailwayRegular'
      }
    }
  }

  json.results.forEach(function(r) {
    data.x.push(timeFormat.parse(r.timestamp))
    data.y.push(r.value)
  })

  Plotly.newPlot('chart', [data], layout);

  d3.selectAll("#chart p").classed("hidden", true);
}

d3.json(document.URL, myGraph);

$(function () {
  var options = {
    format: 'YYYY-MM-DD HH:mm:ss'
  }
  $('#from-date').datetimepicker(options);
  $('#to-date').datetimepicker(options);
});

</script>
