<%= erb :signal_form if @layout == 'default' %>

<div id='chart' style="height:500px; width: 100%;">
  <p><i class="fa fa-spinner fa-spin"></i></p>
</div>

<%= erb :signal_alternate if @layout == 'default' %>

<script>
function signalGraph(json) {

  var layout = getLayout(json.signals[0].name)
  var signal = getSignal(json.signals[0].results, json.signals[0].name, 'rgb(0, 0, 153)')
  var trend =  getTrend(json.signals[0].trend, json.signals[0].name, 'rgb(0, 0, 153)')

  if (signal == null && trend == null) return noData(json.signals[0].name);

  var data = [signal, trend]

  if (json.signals[1]) {
    layout['yaxis2'] = {
      title: json.signals[1].name,
      showgrid: false,
      titlefont: {
        family: 'RailwayRegular',
        color: 'rgb(204, 51, 51)',
      },
      tickfont: {
        family: 'RailwayRegular',
        color: 'rgb(204, 51, 51)',
      },
      overlaying: 'y',
      side: 'right'
    }

    var comparison = getSignal(json.signals[1].results, json.signals[1].name, 'rgb(204, 51, 51)', 'y2')
    var trend = getTrend(json.signals[1].trend, json.signals[1].name, 'rgb(204, 51, 51)')

    if (comparison == null && trend == null) return noData(json.signals[1].name, '- try another comparison');

    data.push(comparison)
    data.push(trend)
  }

  Plotly.newPlot('chart', data, layout);

  d3.selectAll("#chart p").classed("hidden", true);
}

$(function () {
  callDatePicker();
  drawChart(signalGraph);
});

</script>
