<div class='col-md-6'>
  <h2>Northbound</h2>
  <%= erb :"includes/_stations", locals: { stations: Hash[@stations.to_a.reverse], direction: :northbound } %>
</div>

<div class='col-md-6'>
  <h2>Southbound</h2>
  <%= erb :"includes/_stations", locals: { stations: @stations, direction: :southbound } %>
</div>
