---
http_interactions:
- request:
    method: post
    uri: https://1c3896668c131013e40bf29fbe4b3148.eu-west-1.aws.found.io:9243/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442984400000,"lte":1442998800000}}}]}}}},"size":0,"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"5s","time_zone":"+01:00","min_doc_count":1,"extended_bounds":{"min":1442984400000,"max":1442998800000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":27,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":24423,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":[{"key_as_string":"2015-09-23T06:00:00.000+01:00","key":1442984400000,"doc_count":26,"average_value":{"value":6415.7307692307695}},{"key_as_string":"2015-09-23T06:00:05.000+01:00","key":1442984405000,"doc_count":27,"average_value":{"value":6968.148148148148}},{"key_as_string":"2015-09-23T06:00:10.000+01:00","key":1442984410000,"doc_count":24,"average_value":{"value":7383.375}},{"key_as_string":"2015-09-23T06:00:15.000+01:00","key":1442984415000,"doc_count":28,"average_value":{"value":7075.321428571428}},{"key_as_string":"2015-09-23T06:00:20.000+01:00","key":1442984420000,"doc_count":27,"average_value":{[...]
