---
http_interactions:
- request:
    method: post
    uri: https://1c3896668c131013e40bf29fbe4b3148.eu-west-1.aws.found.io:9243/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441065600000,"lte":1441152000000}}}]}}}},"size":0,"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"1h","time_zone":"+01:00","min_doc_count":1,"extended_bounds":{"min":1441065600000,"max":1441152000000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":411,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":163248,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":[{"key_as_string":"2015-09-01T01:00:00.000+01:00","key":1441065600000,"doc_count":5,"average_value":{"value":0.0}},{"key_as_string":"2015-09-01T02:00:00.000+01:00","key":1441069200000,"doc_count":3,"average_value":{"value":0.0}},{"key_as_string":"2015-09-01T03:00:00.000+01:00","key":1441072800000,"doc_count":5,"average_value":{"value":0.0}},{"key_as_string":"2015-09-01T04:00:00.000+01:00","key":1441076400000,"doc_count":4,"average_value":{"value":0.0}},{"key_as_string":"2015-09-01T05:00:00.000+01:00","key":1441080000000,"doc_count":4,"average_value":{"value":0.0}},{"key_as_string":"2015-09-01T06:00:00.[...]
[...]
