---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449813600000,"lte":1449828000000}}}]}}}},"size":0,"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"1h","min_doc_count":1,"extended_bounds":{"min":1449813600000,"max":1449828000000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":27,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":54282,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":[{"key_as_string":"2015-12-11T06:00:00.000Z","key":1449813600000,"doc_count":23,"average_value":{"value":8.0}},{"key_as_string":"2015-12-11T07:00:00.000Z","key":1449817200000,"doc_count":4976,"average_value":{"value":1895.4415192926044}},{"key_as_string":"2015-12-11T08:00:00.000Z","key":1449820800000,"doc_count":25451,"average_value":{"value":5303.582845467761}},{"key_as_string":"2015-12-11T09:00:00.000Z","key":1449824400000,"doc_count":23832,"average_value":{"value":5278.40953340047}}]}}}'
  recorded_at: Mon, 14 Mar 2016 15:06:32 GMT
recorded_with: VCR 3.0.0
