---
http_interactions:
- request:
    method: post
    uri: https://1c3896668c131013e40bf29fbe4b3148.eu-west-1.aws.found.io:9243/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442966400000,"lte":1443052800000}}}]}}}},"size":0,"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"1h","time_zone":"+01:00","min_doc_count":1,"extended_bounds":{"min":1442966400000,"max":1443052800000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":578,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":120489,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":[{"key_as_string":"2015-09-23T05:00:00.000+01:00","key":1442980800000,"doc_count":402,"average_value":{"value":4756.151741293533}},{"key_as_string":"2015-09-23T06:00:00.000+01:00","key":1442984400000,"doc_count":6460,"average_value":{"value":4341.073839009288}},{"key_as_string":"2015-09-23T07:00:00.000+01:00","key":1442988000000,"doc_count":2430,"average_value":{"value":4643.801234567901}},{"key_as_string":"2015-09-23T08:00:00.000+01:00","key":1442991600000,"doc_count":7464,"average_value":{"value":4485.814710610933}},{"key_as_string":"2015-09-23T09:00:00.000+01:00","key":1442995200000,"doc_count":8069,"[...]
