---
http_interactions:
- request:
    method: post
    uri: https://rcmkibana.cloudapp.net/elasticsearch/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"analyze_wildcard":true,"query":"memoryAddress:[''A'',
        ''2E64930W''] OR memoryAddress:[''B'', ''2E64932W''] OR memoryAddress:[''C'',
        ''2E64934W''] OR memoryAddress:[''D'', ''2E64936W'']"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1441105200000}}}],"must_not":[]}}}},"size":0,"aggregations":{"weight_chart":{"date_histogram":{"field":"timeStamp","interval":"10m","pre_zone":"+01:00","pre_zone_adjust_large_interval":true,"min_doc_count":1,"extended_bounds":{"min":1441101600000,"max":1441105200000}},"aggregations":{"weight":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - text/html
      Www-Authenticate:
      - Basic realm="Restricted Access"
      X-App-Name:
      - kibana
    body:
      encoding: ASCII-8BIT
      string: '{"took":4,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":0,"max_score":0.0,"hits":[]},"aggregations":{"weight_chart":{"buckets":[]}}}'
  recorded_at: Tue, 27 Oct 2015 15:12:34 GMT
recorded_with: VCR 2.9.3
