---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"analyze_wildcard":true,"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442966400000,"lte":1443052800000}}}]}}}},"size":0,"aggregations":{"weight_chart":{"date_histogram":{"field":"timeStamp","interval":"1h","pre_zone":"+01:00","pre_zone_adjust_large_interval":true,"min_doc_count":1,"extended_bounds":{"min":1442966400000,"max":1443052800000}},"aggregations":{"weight":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - text/html
      Www-Authenticate:
      - Basic realm="Restricted Access"
      X-App-Name:
      - kibana
    body:
      encoding: ASCII-8BIT
      string: '{"took":37,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":251558,"max_score":0.0,"hits":[]},"aggregations":{"weight_chart":{"buckets":[{"key_as_string":"2015-09-23T04:00:00.000Z","key":1442980800000,"doc_count":3602,"weight":{"value":15.5941143808995}},{"key_as_string":"2015-09-23T05:00:00.000Z","key":1442984400000,"doc_count":10794,"weight":{"value":14.738929034648878}},{"key_as_string":"2015-09-23T06:00:00.000Z","key":1442988000000,"doc_count":17284,"weight":{"value":30.975410784540614}},{"key_as_string":"2015-09-23T07:00:00.000Z","key":1442991600000,"doc_count":17437,"weight":{"value":51.43132419567586}},{"key_as_string":"2015-09-23T08:00:00.000Z","key":1442995200000,"doc_count":17237,"weight":{"value":29.259615942449383}[...]
