---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"analyze_wildcard":true,"query":"memoryAddress:2E64930W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441065600000,"lte":1441152000000}}}]}}}},"size":0,"aggregations":{"weight_chart":{"date_histogram":{"field":"timeStamp","interval":"1h","pre_zone":"+01:00","pre_zone_adjust_large_interval":true,"min_doc_count":1,"extended_bounds":{"min":1441065600000,"max":1441152000000}},"aggregations":{"weight":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - text/html
      Www-Authenticate:
      - Basic realm="Restricted Access"
      X-App-Name:
      - kibana
    body:
      encoding: ASCII-8BIT
      string: '{"took":14,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":74921,"max_score":0.0,"hits":[]},"aggregations":{"weight_chart":{"buckets":[{"key_as_string":"2015-09-01T00:00:00.000Z","key":1441065600000,"doc_count":173,"weight":{"value":2.786127167630058}},{"key_as_string":"2015-09-01T01:00:00.000Z","key":1441069200000,"doc_count":76,"weight":{"value":1.2105263157894737}},{"key_as_string":"2015-09-01T02:00:00.000Z","key":1441072800000,"doc_count":12,"weight":{"value":0.0}},{"key_as_string":"2015-09-01T03:00:00.000Z","key":1441076400000,"doc_count":12,"weight":{"value":0.0}},{"key_as_string":"2015-09-01T04:00:00.000Z","key":1441080000000,"doc_count":12,"weight":{"value":0.0}},{"key_as_string":"2015-09-01T05:00:00.000Z","key":144[...]
