---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"analyze_wildcard":true,"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441065600000,"lte":1441152000000}}}]}}}},"size":0,"aggregations":{"weight_chart":{"date_histogram":{"field":"timeStamp","interval":"1h","pre_zone":"+01:00","pre_zone_adjust_large_interval":true,"min_doc_count":1,"extended_bounds":{"min":1441065600000,"max":1441152000000}},"aggregations":{"weight":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - text/html
      Www-Authenticate:
      - Basic realm="Restricted Access"
      X-App-Name:
      - kibana
    body:
      encoding: ASCII-8BIT
      string: '{"took":44,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":283045,"max_score":0.0,"hits":[]},"aggregations":{"weight_chart":{"buckets":[{"key_as_string":"2015-09-01T00:00:00.000Z","key":1441065600000,"doc_count":1221,"weight":{"value":5.972153972153972}},{"key_as_string":"2015-09-01T01:00:00.000Z","key":1441069200000,"doc_count":686,"weight":{"value":7.489795918367347}},{"key_as_string":"2015-09-01T02:00:00.000Z","key":1441072800000,"doc_count":505,"weight":{"value":6.455445544554456}},{"key_as_string":"2015-09-01T03:00:00.000Z","key":1441076400000,"doc_count":586,"weight":{"value":7.918088737201365}},{"key_as_string":"2015-09-01T04:00:00.000Z","key":1441080000000,"doc_count":639,"weight":{"value":8.261345852895149}},{"key_as[...]
