---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1441105200000}}}]}}}},"size":0,"aggregations":{"langs":{"terms":{"field":"memoryAddress"}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":11,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":97846,"max_score":0.0,"hits":[]},"aggregations":{"langs":{"doc_count_error_upper_bound":0,"sum_other_doc_count":22175,"buckets":[{"key":"2E4414CW","doc_count":15699},{"key":"2E4414AW","doc_count":14968},{"key":"2E4540CW","doc_count":10131},{"key":"2E491EEW","doc_count":9766},{"key":"2E49E16W","doc_count":8461},{"key":"2E450D8W","doc_count":4056},{"key":"2E450D6W","doc_count":3724},{"key":"2E450CAW","doc_count":3556},{"key":"2E464BAW","doc_count":2666},{"key":"2E464BCW","doc_count":2644}]}}}'
  recorded_at: Tue, 10 Nov 2015 16:52:29 GMT
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E4414CW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1441105200000}}}]}}}},"size":1}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":5,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":15699,"max_score":2.6677842,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E4414CW-178797618825","_score":2.6677842,"_source":{"id":"03042E4414CW-178797618825","trainNumber":0,"signalName":"@.MWT.CT_CI_T2_1.UCOD4_I_MLC20.CI_COP_XI_Ln","memoryAddress":"2E4414CW","bits":16,"value":431,"timeStamp":"2015-09-01T10:00:18.825Z","vcuNumber":304,"runLengthMs":0}}]}}'
  recorded_at: Tue, 10 Nov 2015 16:52:29 GMT
[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442966400000,"lte":1443052800000}}}]}}}},"size":0,"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"1h","time_zone":"+01:00","min_doc_count":1,"extended_bounds":{"min":1442966400000,"max":1443052800000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":415,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":120489,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":[{"key_as_string":"2015-09-23T05:00:00.000+01:00","key":1442980800000,"doc_count":402,"average_value":{"value":4756.151741293533}},{"key_as_string":"2015-09-23T06:00:00.000+01:00","key":1442984400000,"doc_count":6460,"average_value":{"value":4341.073839009288}},{"key_as_string":"2015-09-23T07:00:00.000+01:00","key":1442988000000,"doc_count":2430,"average_value":{"value":4643.801234567901}},{"key_as_string":"2015-09-23T08:00:00.000+01:00","key":1442991600000,"doc_count":7464,"average_value":{"value":4485.814710610[...]
