---
http_interactions:
- request:
    method: post
    uri: https://1c3896668c131013e40bf29fbe4b3148.eu-west-1.aws.found.io:9243/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1441105200000}}}]}}}},"size":0,"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","time_zone":"+01:00","min_doc_count":1,"extended_bounds":{"min":1441101600000,"max":1441105200000}},"aggregations":{"value":{"terms":{"field":"memoryAddress"},"aggregations":{"average_value":{"avg":{"field":"value"}},"max_value":{"max":{"field":"value"}},"min_value":{"min":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":5,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":5459,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":[{"key_as_string":"2015-09-01T11:00:00.000+01:00","key":1441101600000,"doc_count":1733,"value":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"2E64930W","doc_count":455,"min_value":{"value":19.0},"average_value":{"value":41.41318681318681},"max_value":{"value":58.0}},{"key":"2E64936W","doc_count":439,"min_value":{"value":16.0},"average_value":{"value":28.19362186788155},"max_value":{"value":46.0}},{"key":"2E64932W","doc_count":435,"min_value":{"value":34.0},"average_value":{"value":47.38850574712644},"max_value":{"value":62.0}},{"key":"2E64934W","doc_count":404,"min_value":{"value":13.0},"average_value":{"value":33[...]
