body, h1, h2 {
  font-family: 'RailwayRegular';
  font-weight: normal;
  font-style: normal;
}

form {
  margin-bottom: 20px;
}

#chart p {
  text-align: center;
}

.fa-spinner {
  font-size: 200px;
  color: #ccc;
}

.input-group-addon {
  padding: 5px;
}

.no-data {
  font-size: 35px;
  margin: 40px;
}

.dashboard-item {
  height: 500px;
}

.dashboard-item .panel-body {
  height: 95%;
}

.carriage-wrapper {
  width: 10%;
  float: left;
  margin: 0 0.5% 0 0;
}

.carriage {
  border: 2px solid #000;
  height: 50px;
  border-radius: 7px 7px 0 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 400;
}

.carriage .num {
  text-align: center;
  position: absolute;
  bottom: -10px;
  width: 100%;
}

.carriage .level {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: orange;
  z-index: 5;
}

.carriage .windows {
  width: 95%;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 2.5%;
  z-index: 10;
}

.carriage .window {
  border: 2px solid #000;
  width: 30%;
  height: 100%;
  border-radius: 5px;
  float: left;
  margin-left: 2.5%;
  background-color: white;
  opacity: 0.8;
}

.carriage .overloaded {
  background-color: red;
}

.front, .rear {
  border: 2px solid #000;
  width: 5%;
  height: 50px;
  float: left;
  position: relative;
}

.front {
  border-radius: 5px 20px 0 0;
}

.rear {
  border-radius: 20px 5px 0 0;
  margin-right: 5px;
}

.front .window, .rear .window {
  position: absolute;
  top: 5px;
  border: 2px solid #000;
  height: 20px;
  left: 10%;
  width: 80%;
}

.front .window {
  border-radius: 5px 20px 5px 5px;
}

.rear .window {
  border-radius: 20px 5px 5px 5px;
}

.train {
  margin: 40px auto;
}

.wheel {
  font-size: 2em;
}

.victoria {
  list-style-type: none;
  margin: 25px 0 60px 0;
  padding: 0;
  border-left: 6px solid #009DE4;
  width: 100%;
  position: relative;
  left: 11px;
}

.victoria li {
  padding: 0;
  height: 20px;
  width: 20px;
  display: block;
  position: relative;
  line-height: 22px;
}

.victoria li.interchange {
  border: 3px solid #000;
  border-radius: 50px;
  background: #fff;
  left: -13px;
  margin: 11px 0;
}

.victoria li.normal {
  border-top: 6px solid #009DE4;
  width: 6px;
  left 2px;
  margin: 16px 0 -4px 0;
}

.victoria li a {
  white-space: normal;
  line-height: 22px;
  position: absolute;
  width: 400px;
  display: block;
}

.victoria li.interchange a {
  padding: 0 0 0 22px;
  top: -2px;
}

.victoria li.normal a {
  padding: 0 0 0 12px;
  top: -12px;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#menu li {
  display: inline-block;
  font-size: 14px;
  margin: 0 20px;
}

#menu li a {
  width: 140px;
  height: 140px;
  padding: 30px;
  display: inline-block;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 16px;
}

#menu li a i {
  font-size: 40px;
  margin-bottom: 7px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  text-align: center;
}
