body, h1, h2 {
  font-family: 'RailwayRegular';
  font-weight: normal;
  font-style: normal;
}

form {
  margin-bottom: 20px;
}

#chart p {
  text-align: center;
}

.fa-spinner {
  font-size: 200px;
  color: #ccc;
}

.input-group-addon {
  padding: 5px;
}

.no-data {
  font-size: 35px;
  margin: 40px;
}

.dashboard-item {
  height: 500px;
}

.dashboard-item .panel-body {
  height: 95%;
}

.carriage-wrapper {
  width: 20%;
  float: left;
  margin: 0 1% 0 0;
}

.carriage {
  border: 2px solid #000;
  height: 100px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  position: relative;
}

.carriage .num {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.carriage .level {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: orange;
  border-radius: 20px 20px 0 0;
}

.carriage .windows {
  width: 95%;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 2.5%;
  z-index: 10;
}

.carriage .window {
  border: 2px solid #000;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  float: left;
  margin-left: 2.5%;
  background-color: white;
  opacity: 0.8;
}

.front {
  border: 2px solid #000;
  width: 7%;
  height: 100px;
  float: left;
  border-radius: 10px 100px 0 0;
  position: relative;
}

.front .window {
  position: absolute;
  top: 10px;
  border: 2px solid #000;
  height: 40px;
  left: 10%;
  width: 60%;
  border-radius: 10px 100px 10px 10px;
}

.train {
  margin: 40px auto;
}

.wheel {
  font-size: 2em;
}

.victoria {
  list-style-type: none;
  margin: 20px 0;
  padding: 2px 0;
  border-left: 7px solid #009DE4;
  width: 100%;
  position: relative;
  left: 11px;
}

.victoria li {
  padding: 0;
  height: 22px;
  width: 22px;
  display: block;
  position: relative;
  line-height: 22px;
}

.victoria li.interchange {
  border: 5px solid #000;
  border-radius: 50px;
  background: #fff;
  left: -15px;
  margin: 11px 0;
}

.victoria li.normal {
  border-top: 6px solid #009DE4;
  width: 6px;
  left 2px;
  margin: 16px 0 -4px 0;
}

.victoria li a {
  padding: 0 0 0 22px;
  white-space: normal;
  line-height: 22px;
  position: absolute;
  top: -4px;
  width: 400px;
  display: block;
}

.victoria li.normal a {
  padding: 0 0 0 12px;
  top: -12px;
}
