---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1443025800000,"lte":1443030600000}}}]}}}},"size":0,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"count":514,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Mon, 21 Dec 2015 11:56:36 GMT
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1443025800000,"lte":1443030600000}}}]}}}},"size":514,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":6,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":514,"max_score":null,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180726125075","_score":null,"_source":{"id":"03042E5485AW-180726125075","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1794,"timeStamp":"2015-09-23T17:42:05.075Z","vcuNumber":304,"runLengthMs":3000},"sort":[1443030125075]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180726096428","_score":null,"_source":{"id":"03042E5485AW-180726096428","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1798,"timeStamp":"2015-09-23T17:41:36.428Z","vcuNumber":304,"runLengthMs":28547},"sort":[1443030096428]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180726095428","_score":null,"_source":[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1443030065000,"lte":1443030185000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2E64930W":{"term":{"memoryAddress":"2E64930W"}},"2E64932W":{"term":{"memoryAddress":"2E64932W"}},"2E64934W":{"term":{"memoryAddress":"2E64934W"}},"2E64936W":{"term":{"memoryAddress":"2E64936W"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1443030065000,"max":1443030185000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":161,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2E64930W":{"doc_count":42,"results":{"buckets":[{"key_as_string":"2015-09-23T17:40:00.000Z","key":1443030000000,"doc_count":42,"average_value":{"value":8.928571428571429}}]}},"2E64932W":{"doc_count":33,"results":{"buckets":[{"key_as_string":"2015-09-23T17:40:00.000Z","key":1443030000000,"doc_count":33,"average_value":{"value":9.93939393939394}}]}},"2E64934W":{"doc_count":42,"results":{"buckets":[{"key_as_string":"2015-09-23T17:40:00.000Z","key":1443030000000,"doc_count":42,"average_value":{"value":15.761904761904763}}]}},"2E64936W":{"doc_count":44,"results":{"buckets":[{"key_as_string":"2015-09-23T17:40:00.000Z","key":1443030000000,"doc_count":44,"average_value":{"value":13.977272727272727}}]}}}}}}'
  recorded_at: Mon, 21 Dec 2015 11:56:37 GMT
[...]
