---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449851400000,"lte":1449856200000}}}]}}}},"size":0,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"count":1247,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Mon, 14 Mar 2016 14:33:01 GMT
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449851400000,"lte":1449856200000}}}]}}}},"size":1247,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":10,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":1247,"max_score":null,"hits":[{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03042E5485AW-187552199921","_score":null,"_source":{"id":"03042E5485AW-187552199921","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1880,"timeStamp":"2015-12-11T17:49:59.921Z","vcuNumber":304},"sort":[1449856199921]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03102E5485AW-187552197862","_score":null,"_source":{"id":"03102E5485AW-187552197862","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1880,"timeStamp":"2015-12-11T17:49:57.862Z","vcuNumber":310},"sort":[1449856197862]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03042E5485AW-187552194118","_score":null,"_source"[...]
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e64930w
        OR memoryAddress:2e64932w OR memoryAddress:2e64934w OR memoryAddress:2e64936w"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449856139000,"lte":1449856259000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2e64930w":{"term":{"memoryAddress":"2e64930w"}},"2e64932w":{"term":{"memoryAddress":"2e64932w"}},"2e64934w":{"term":{"memoryAddress":"2e64934w"}},"2e64936w":{"term":{"memoryAddress":"2e64936w"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1449856139000,"max":1449856259000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":653,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2e64930w":{"doc_count":173,"results":{"buckets":[{"key_as_string":"2015-12-11T17:40:00.000Z","key":1449855600000,"doc_count":76,"average_value":{"value":16.0}},{"key_as_string":"2015-12-11T17:50:00.000Z","key":1449856200000,"doc_count":97,"average_value":{"value":17.175257731958762}}]}},"2e64932w":{"doc_count":164,"results":{"buckets":[{"key_as_string":"2015-12-11T17:40:00.000Z","key":1449855600000,"doc_count":68,"average_value":{"value":23.779411764705884}},{"key_as_string":"2015-12-11T17:50:00.000Z","key":1449856200000,"doc_count":96,"average_value":{"value":30.40625}}]}},"2e64934w":{"doc_count":160,"results":{"buckets":[{"key_as_string":"2015-12-11T17:40:00.000Z","key":1449855600000,"doc_count":69,"average_value":{"value":27.608695652173914}},{"key_as_string":"2015-12-11T17:50:00.000Z","key":1449856200000,"doc_count":91,"average_value":{"value":27.21978021978022}}]}},"2e64936w":{"doc_count":156,"results":{"buckets":[{"key_as_string":"2015-12-11T17:40:00.000Z","key":1449855600000,"doc_count":60,"average_value":{"value":23.65}},{"key_as_string":"2015-12-11T17:50:00.000Z","key":1449856200000,"doc_count":96,"average_value":{"value":28.885416666666668}}]}}}}}}'
  recorded_at: Mon, 14 Mar 2016 14:33:02 GMT
[...]
