---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/line/victoria/arrivals?direction=outbound&stopPointId=940GZZLUSVS
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Entity-Payload:
      - Prediction
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - api
      X-Backend-Url:
      - "/line/victoria/arrivals?stopPointId=940GZZLUSVS&direction=outbound"
      X-Banning:
      - ''
      X-Hash-Url:
      - "/line/victoria/arrivals?direction=outbound&stoppointid=940gzzlusvs"
      X-Ttl:
      - '50.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"$type":"Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities","id":"-2093286148","operationType":1,"vehicleId":"215","naptanId":"940GZZLUSVS","stationName":"Seven
        Sisters Underground Station","lineId":"victoria","lineName":"Victoria","platformName":"Northbound
        - Platform 3","direction":"outbound","destinationNaptanId":"940GZZLUWWL","destinationName":"Walthamstow
        Central Underground Station","timestamp":"2016-01-19T15:47:09.036Z","timeToStation":359,"currentLocation":"Between
        Kings Cross St. Pancras and Highbury & Isl","towards":"Walthamstow Central","expectedArrival":"2016-01-19T15:53:08.036Z","timeToLive":"2016-01-19T15:53:08.036Z","modeName":"tube"},{"$type":"Tfl.Api.Presentation.Entities.Prediction,
        Tfl.Api.Presentation.Entities","id":"-1691213171","operationType":1,"vehicleId":"232","naptanId":"940GZZLUSVS","stationName":"Seven
        Sisters Underground Station","lineId":"victoria","lineName":"Victoria","platformName":"Northbound
        - Platform 3","direction":"outbound","destinationNaptanId":"940GZZLUWWL","destinationName":"Walthamstow
        Central Underground Station","timestamp":"2016-01-19T15:47:09.005Z","timeToStation":89,"currentLocation":"Between
        Finsbury Park and Seven Sisters","towards":"Walthamstow Central","expectedArrival":"2016-01-19T15:48:38.005Z","timeToLive":"2016-01-19T15:48:38.005Z","modeName":"tube"},{"$type":"Tfl.Api.Presentation.Entities.Prediction,
        Tfl.Api.Presentation.Entities","id":"-796707333","operationType":1,"vehicleId":"250","naptanId":"940GZZLUSVS","stationName":"Seven
        Sisters Underground Station","lineId":"victoria","lineName":"Victoria","platformName":"Northbound
        - Platform 3","direction":"outbound","destinationNaptanId":"940GZZLUWWL","destinationName":"Walthamstow
        Central Underground Station","timestamp":"2016-01-19T15:47:09.036Z","timeToStation":299,"currentLocation":"Between
        Highbury & Islington and Finsbury Park","towards":"Walthamstow Central","expectedArrival":"2016-01-19T15:52:08.036Z","timeToLive":"2016-01-19T15:52:08.036Z","modeName":"tube"}]'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
recorded_with: VCR 3.0.0
