---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_2/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e5485aw
        AND value:195"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449014400000,"lte":1449071040000}}}]}}}},"size":100,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":53,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":10,"max_score":null,"hits":[{"_index":"train_data_2015_12_2","_type":"train_sample","_id":"03042E5485AW-186759200993","_score":null,"_source":{"id":"03042E5485AW-186759200993","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2015-12-02T13:33:20.993Z","vcuNumber":304},"sort":[1449063200993]},{"_index":"train_data_2015_12_2","_type":"train_sample","_id":"03102E5485AW-186759200925","_score":null,"_source":{"id":"03102E5485AW-186759200925","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2015-12-02T13:33:20.925Z","vcuNumber":310},"sort":[1449063200925]},{"_index":"train_data_2015_12_2","_type":"train_sample","_id":"03102E5485AW-186754984371","_score":null,"_source":{"[...]
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_2/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e64930w
        OR memoryAddress:2e64932w OR memoryAddress:2e64934w OR memoryAddress:2e64936w"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449063140000,"lte":1449063260000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2e64930w":{"term":{"memoryAddress":"2e64930w"}},"2e64932w":{"term":{"memoryAddress":"2e64932w"}},"2e64934w":{"term":{"memoryAddress":"2e64934w"}},"2e64936w":{"term":{"memoryAddress":"2e64936w"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1449063140000,"max":1449063260000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":5,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":461,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2e64930w":{"doc_count":119,"results":{"buckets":[{"key_as_string":"2015-12-02T13:30:00.000Z","key":1449063000000,"doc_count":119,"average_value":{"value":16.613445378151262}}]}},"2e64932w":{"doc_count":115,"results":{"buckets":[{"key_as_string":"2015-12-02T13:30:00.000Z","key":1449063000000,"doc_count":115,"average_value":{"value":19.269565217391303}}]}},"2e64934w":{"doc_count":107,"results":{"buckets":[{"key_as_string":"2015-12-02T13:30:00.000Z","key":1449063000000,"doc_count":107,"average_value":{"value":14.80373831775701}}]}},"2e64936w":{"doc_count":120,"results":{"buckets":[{"key_as_string":"2015-12-02T13:30:00.000Z","key":1449063000000,"doc_count":120,"average_value":{"value":30.516666666666666}}]}}}}}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
[...]
