---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2016_2_1/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e5485aw
        AND value:195"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1454284800000,"lte":1454341440000}}}]}}}},"size":100,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":33,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":4,"max_score":null,"hits":[{"_index":"train_data_2016_2_1","_type":"train_sample","_id":"03042E5485AW-192037383109","_score":null,"_source":{"id":"03042E5485AW-192037383109","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2016-02-01T15:43:03.109Z","vcuNumber":304},"sort":[1454341383109]},{"_index":"train_data_2016_2_1","_type":"train_sample","_id":"03042E5485AW-192028993650","_score":null,"_source":{"id":"03042E5485AW-192028993650","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2016-02-01T13:23:13.65Z","vcuNumber":304},"sort":[1454332993650]},{"_index":"train_data_2016_2_1","_type":"train_sample","_id":"03042E5485AW-192008372402","_score":null,"_source":{"id":"03042E5485AW-192008372402","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2016-02-01T07:39:32.402Z","vcuNumber":304},"sort":[1454312372402]},{"_index":"train_data_2016_2_1","_type":"train_sample","_id":"03042E5485AW-192004213215","_score":null,"_source":{"id":"03042E5485AW-192004213215","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2016-02-01T06:30:13.215Z","vcuNumber":304},"sort":[1454308213215]}]}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
- request:
    method: post
    uri: http://elastic.search//train_data_2016_2_1/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e64930w
        OR memoryAddress:2e64932w OR memoryAddress:2e64934w OR memoryAddress:2e64936w"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1454341323000,"lte":1454341443000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2e64930w":{"term":{"memoryAddress":"2e64930w"}},"2e64932w":{"term":{"memoryAddress":"2e64932w"}},"2e64934w":{"term":{"memoryAddress":"2e64934w"}},"2e64936w":{"term":{"memoryAddress":"2e64936w"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1454341323000,"max":1454341443000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":70,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2e64930w":{"doc_count":30,"results":{"buckets":[{"key_as_string":"2016-02-01T15:40:00.000Z","key":1454341200000,"doc_count":30,"average_value":{"value":29.166666666666668}}]}},"2e64932w":{"doc_count":13,"results":{"buckets":[{"key_as_string":"2016-02-01T15:40:00.000Z","key":1454341200000,"doc_count":13,"average_value":{"value":24.23076923076923}}]}},"2e64934w":{"doc_count":10,"results":{"buckets":[{"key_as_string":"2016-02-01T15:40:00.000Z","key":1454341200000,"doc_count":10,"average_value":{"value":8.5}}]}},"2e64936w":{"doc_count":17,"results":{"buckets":[{"key_as_string":"2016-02-01T15:40:00.000Z","key":1454341200000,"doc_count":17,"average_value":{"value":34.294117647058826}}]}}}}}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
[...]
