---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2016_2_1/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1454339040000,"lte":1454343840000}}}]}}}},"size":0,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"count":568,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
- request:
    method: post
    uri: http://elastic.search//train_data_2016_2_1/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1454339040000,"lte":1454343840000}}}]}}}},"size":568,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":17,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":568,"max_score":null,"hits":[{"_index":"train_data_2016_2_1","_type":"train_sample","_id":"03042E5485AW-192039776278","_score":null,"_source":{"id":"03042E5485AW-192039776278","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1522,"timeStamp":"2016-02-01T16:22:56.278Z","vcuNumber":304},"sort":[1454343776278]},{"_index":"train_data_2016_2_1","_type":"train_sample","_id":"03042E5485AW-192039767025","_score":null,"_source":{"id":"03042E5485AW-192039767025","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1526,"timeStamp":"2016-02-01T16:22:47.025Z","vcuNumber":304},"sort":[1454343767025]},{"_index":"train_data_2016_2_1","_type":"train_sample","_id":"03042E5485AW-192039764525","_score":null,"_source":{"i[...]
- request:
    method: post
    uri: http://elastic.search//train_data_2016_2_1/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e64930w
        OR memoryAddress:2e64932w OR memoryAddress:2e64934w OR memoryAddress:2e64936w"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1454343716000,"lte":1454343836000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2e64930w":{"term":{"memoryAddress":"2e64930w"}},"2e64932w":{"term":{"memoryAddress":"2e64932w"}},"2e64934w":{"term":{"memoryAddress":"2e64934w"}},"2e64936w":{"term":{"memoryAddress":"2e64936w"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1454343716000,"max":1454343836000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":201,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2e64930w":{"doc_count":51,"results":{"buckets":[{"key_as_string":"2016-02-01T16:20:00.000Z","key":1454343600000,"doc_count":51,"average_value":{"value":72.31372549019608}}]}},"2e64932w":{"doc_count":51,"results":{"buckets":[{"key_as_string":"2016-02-01T16:20:00.000Z","key":1454343600000,"doc_count":51,"average_value":{"value":69.90196078431373}}]}},"2e64934w":{"doc_count":50,"results":{"buckets":[{"key_as_string":"2016-02-01T16:20:00.000Z","key":1454343600000,"doc_count":50,"average_value":{"value":54.52}}]}},"2e64936w":{"doc_count":49,"results":{"buckets":[{"key_as_string":"2016-02-01T16:20:00.000Z","key":1454343600000,"doc_count":49,"average_value":{"value":53.57142857142857}}]}}}}}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
[...]
