---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449846240000,"lte":1449851040000}}}]}}}},"size":0,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"count":843,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449846240000,"lte":1449851040000}}}]}}}},"size":843,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":24,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":843,"max_score":null,"hits":[{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03042E5485AW-187547038934","_score":null,"_source":{"id":"03042E5485AW-187547038934","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1475,"timeStamp":"2015-12-11T16:23:58.934Z","vcuNumber":304},"sort":[1449851038934]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03102E5485AW-187547038850","_score":null,"_source":{"id":"03102E5485AW-187547038850","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1475,"timeStamp":"2015-12-11T16:23:58.85Z","vcuNumber":310},"sort":[1449851038850]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03042E5485AW-187547033418","_score":null,"_source":[...]
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e64930w
        OR memoryAddress:2e64932w OR memoryAddress:2e64934w OR memoryAddress:2e64936w"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449850978000,"lte":1449851098000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2e64930w":{"term":{"memoryAddress":"2e64930w"}},"2e64932w":{"term":{"memoryAddress":"2e64932w"}},"2e64934w":{"term":{"memoryAddress":"2e64934w"}},"2e64936w":{"term":{"memoryAddress":"2e64936w"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1449850978000,"max":1449851098000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":688,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2e64930w":{"doc_count":177,"results":{"buckets":[{"key_as_string":"2015-12-11T16:20:00.000Z","key":1449850800000,"doc_count":177,"average_value":{"value":57.824858757062145}}]}},"2e64932w":{"doc_count":156,"results":{"buckets":[{"key_as_string":"2015-12-11T16:20:00.000Z","key":1449850800000,"doc_count":156,"average_value":{"value":62.09615384615385}}]}},"2e64934w":{"doc_count":174,"results":{"buckets":[{"key_as_string":"2015-12-11T16:20:00.000Z","key":1449850800000,"doc_count":174,"average_value":{"value":51.32183908045977}}]}},"2e64936w":{"doc_count":181,"results":{"buckets":[{"key_as_string":"2015-12-11T16:20:00.000Z","key":1449850800000,"doc_count":181,"average_value":{"value":72.66850828729282}}]}}}}}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
[...]
