---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1443017040000,"lte":1443021840000}}}]}}}},"size":0,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"count":537,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1443017040000,"lte":1443021840000}}}]}}}},"size":537,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":7,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":537,"max_score":null,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180717717396","_score":null,"_source":{"id":"03042E5485AW-180717717396","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1798,"timeStamp":"2015-09-23T15:21:57.396Z","vcuNumber":304,"runLengthMs":9663},"sort":[1443021717396]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180717716396","_score":null,"_source":{"id":"03042E5485AW-180717716396","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1802,"timeStamp":"2015-09-23T15:21:56.396Z","vcuNumber":304,"runLengthMs":900},"sort":[1443021716396]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180717713396","_score":null,"_source":{"[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1443021657000,"lte":1443021777000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2E64930W":{"term":{"memoryAddress":"2E64930W"}},"2E64932W":{"term":{"memoryAddress":"2E64932W"}},"2E64934W":{"term":{"memoryAddress":"2E64934W"}},"2E64936W":{"term":{"memoryAddress":"2E64936W"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1443021657000,"max":1443021777000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":179,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2E64930W":{"doc_count":48,"results":{"buckets":[{"key_as_string":"2015-09-23T15:20:00.000Z","key":1443021600000,"doc_count":48,"average_value":{"value":10.520833333333334}}]}},"2E64932W":{"doc_count":41,"results":{"buckets":[{"key_as_string":"2015-09-23T15:20:00.000Z","key":1443021600000,"doc_count":41,"average_value":{"value":10.536585365853659}}]}},"2E64934W":{"doc_count":40,"results":{"buckets":[{"key_as_string":"2015-09-23T15:20:00.000Z","key":1443021600000,"doc_count":40,"average_value":{"value":14.375}}]}},"2E64936W":{"doc_count":50,"results":{"buckets":[{"key_as_string":"2015-09-23T15:20:00.000Z","key":1443021600000,"doc_count":50,"average_value":{"value":10.36}}]}}}}}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
[...]
