---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_2/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449068640000,"lte":1449073440000}}}]}}}},"size":0,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"count":1243,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_2/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449068640000,"lte":1449073440000}}}]}}}},"size":1243,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":26,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":1243,"max_score":null,"hits":[{"_index":"train_data_2015_12_2","_type":"train_sample","_id":"03042E5485AW-186769380062","_score":null,"_source":{"id":"03042E5485AW-186769380062","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1992,"timeStamp":"2015-12-02T16:23:00.062Z","vcuNumber":304},"sort":[1449073380062]},{"_index":"train_data_2015_12_2","_type":"train_sample","_id":"03102E5485AW-186769311040","_score":null,"_source":{"id":"03102E5485AW-186769311040","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1992,"timeStamp":"2015-12-02T16:21:51.04Z","vcuNumber":310},"sort":[1449073311040]},{"_index":"train_data_2015_12_2","_type":"train_sample","_id":"03042E5485AW-186769305293","_score":null,"_source":{"[...]
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_2/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e64930w
        OR memoryAddress:2e64932w OR memoryAddress:2e64934w OR memoryAddress:2e64936w"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449073320000,"lte":1449073440000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2e64930w":{"term":{"memoryAddress":"2e64930w"}},"2e64932w":{"term":{"memoryAddress":"2e64932w"}},"2e64934w":{"term":{"memoryAddress":"2e64934w"}},"2e64936w":{"term":{"memoryAddress":"2e64936w"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1449073320000,"max":1449073440000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":100,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2e64930w":{"doc_count":17,"results":{"buckets":[{"key_as_string":"2015-12-02T16:20:00.000Z","key":1449073200000,"doc_count":17,"average_value":{"value":4.705882352941177}}]}},"2e64932w":{"doc_count":19,"results":{"buckets":[{"key_as_string":"2015-12-02T16:20:00.000Z","key":1449073200000,"doc_count":19,"average_value":{"value":24.473684210526315}}]}},"2e64934w":{"doc_count":36,"results":{"buckets":[{"key_as_string":"2015-12-02T16:20:00.000Z","key":1449073200000,"doc_count":36,"average_value":{"value":11.083333333333334}}]}},"2e64936w":{"doc_count":28,"results":{"buckets":[{"key_as_string":"2015-12-02T16:20:00.000Z","key":1449073200000,"doc_count":28,"average_value":{"value":14.464285714285714}}]}}}}}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
[...]
