---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E5485AW
        AND value:195"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1442933040000,"lte":1443019440000}}}]}}}},"size":100,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":30,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":5,"max_score":null,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180710374928","_score":null,"_source":{"id":"03042E5485AW-180710374928","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2015-09-23T13:19:34.928Z","vcuNumber":304,"runLengthMs":72900},"sort":[1443014374928]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180706175443","_score":null,"_source":{"id":"03042E5485AW-180706175443","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2015-09-23T12:09:35.443Z","vcuNumber":304,"runLengthMs":20516},"sort":[1443010175443]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180658585990","_score":null,"_source":{"id":"03042E5485AW-180658585990","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2015-09-22T22:56:25.99Z","vcuNumber":304,"runLengthMs":24485},"sort":[1442962585990]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180644389028","_score":null,"_source":{"id":"03042E5485AW-180644389028","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2015-09-22T18:59:49.028Z","vcuNumber":304,"runLengthMs":30900},"sort":[1442948389028]},{"_index":"train_data","_type":"train_sample","_id":"03042E5485AW-180640099459","_score":null,"_source":{"id":"03042E5485AW-180640099459","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":195,"timeStamp":"2015-09-22T17:48:19.459Z","vcuNumber":304,"runLengthMs":21900},"sort":[1442944099459]}]}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1443014314000,"lte":1443014434000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2E64930W":{"term":{"memoryAddress":"2E64930W"}},"2E64932W":{"term":{"memoryAddress":"2E64932W"}},"2E64934W":{"term":{"memoryAddress":"2E64934W"}},"2E64936W":{"term":{"memoryAddress":"2E64936W"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1443014314000,"max":1443014434000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":212,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2E64930W":{"doc_count":64,"results":{"buckets":[{"key_as_string":"2015-09-23T13:10:00.000Z","key":1443013800000,"doc_count":61,"average_value":{"value":14.475409836065573}},{"key_as_string":"2015-09-23T13:20:00.000Z","key":1443014400000,"doc_count":3,"average_value":{"value":24.666666666666668}}]}},"2E64932W":{"doc_count":47,"results":{"buckets":[{"key_as_string":"2015-09-23T13:10:00.000Z","key":1443013800000,"doc_count":47,"average_value":{"value":10.27659574468085}}]}},"2E64934W":{"doc_count":48,"results":{"buckets":[{"key_as_string":"2015-09-23T13:10:00.000Z","key":1443013800000,"doc_count":42,"average_value":{"value":5.071428571428571}},{"key_as_string":"2015-09-23T13:20:00.000Z","key":1443014400000,"doc_count":6,"average_value":{"value":11.833333333333334}}]}},"2E64936W":{"doc_count":53,"results":{"buckets":[{"key_as_string":"2015-09-23T13:10:00.000Z","key":1443013800000,"doc_count":51,"average_value":{"value":3.392156862745098}},{"key_as_string":"2015-09-23T13:20:00.000Z","key":1443014400000,"doc_count":2,"average_value":{"value":15.5}}]}}}}}}'
  recorded_at: Fri, 01 Jan 2016 15:44:00 GMT
[...]
