---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441065600000,"lte":1441152000000}}}]}}}},"size":0,"aggregations":{"langs":{"terms":{"field":"memoryAddress","size":0}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":2881,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":1917923,"max_score":0.0,"hits":[]},"aggregations":{"langs":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"2E4414CW","doc_count":349284},{"key":"2E4414AW","doc_count":329371},{"key":"2E4540CW","doc_count":174119},{"key":"2E491EEW","doc_count":163248},{"key":"2E49E16W","doc_count":143669},{"key":"2E450D8W","doc_count":81472},{"key":"2E450D6W","doc_count":77264},{"key":"2E450CAW","doc_count":73746},{"key":"2E464BAW","doc_count":52249},{"key":"2E464BCW","doc_count":51408},{"key":"2E464B6W","doc_count":38674},{"key":"2E4CD7CW","doc_count":38266},{"key":"2E464C4W","doc_count":37715},{"key":"2E464B8W","doc_count":37546},{"key":[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E4414CW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1443610800000}}}]}}}},"size":1}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":14681,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":7441403,"max_score":2.6677842,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E4414CW-180725391006","_score":2.6677842,"_source":{"id":"03042E4414CW-180725391006","trainNumber":0,"signalName":"@.MWT.CT_CI_T2_1.UCOD4_I_MLC20.CI_COP_XI_Ln","memoryAddress":"2E4414CW","bits":16,"value":416,"timeStamp":"2015-09-23T17:29:51.006Z","vcuNumber":304,"runLengthMs":0}}]}}'
  recorded_at: Wed, 25 Nov 2015 14:36:44 GMT
[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E66C1EW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441065600000,"lte":1441152000000}}}]}}}},"size":1}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":93,"max_score":10.812765,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E66C1EW-178830519640","_score":10.812765,"_source":{"id":"03042E66C1EW-178830519640","trainNumber":0,"signalName":"@.MWT.K_T5_1.KSV_PrsVntSup_2.TP_2.KEV_X_PrsVnt2Tmp","memoryAddress":"2E66C1EW","bits":16,"value":0,"timeStamp":"2015-09-01T19:08:39.64Z","vcuNumber":304,"runLengthMs":599716}}]}}'
  recorded_at: Fri, 27 Nov 2015 12:07:19 GMT
recorded_with: VCR 3.0.0
