---
http_interactions:
- request:
    method: post
    uri: https://1c3896668c131013e40bf29fbe4b3148.eu-west-1.aws.found.io:9243/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441065600000,"lte":1441152000000}}}]}}}},"size":0,"aggregations":{"langs":{"terms":{"field":"memoryAddress","size":0}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":773,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":1917923,"max_score":0.0,"hits":[]},"aggregations":{"langs":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"2E4414CW","doc_count":349284},{"key":"2E4414AW","doc_count":329371},{"key":"2E4540CW","doc_count":174119},{"key":"2E491EEW","doc_count":163248},{"key":"2E49E16W","doc_count":143669},{"key":"2E450D8W","doc_count":81472},{"key":"2E450D6W","doc_count":77264},{"key":"2E450CAW","doc_count":73746},{"key":"2E464BAW","doc_count":52249},{"key":"2E464BCW","doc_count":51408},{"key":"2E464B6W","doc_count":38674},{"key":"2E4CD7CW","doc_count":38266},{"key":"2E464C4W","doc_count":37715},{"key":"2E464B8W","doc_count":37546},{"key":[...]
- request:
    method: post
    uri: https://1c3896668c131013e40bf29fbe4b3148.eu-west-1.aws.found.io:9243/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E4414CW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1443610800000}}}]}}}},"size":1}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":7666,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":7441403,"max_score":2.6677842,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E4414CW-180725391006","_score":2.6677842,"_source":{"id":"03042E4414CW-180725391006","trainNumber":0,"signalName":"@.MWT.CT_CI_T2_1.UCOD4_I_MLC20.CI_COP_XI_Ln","memoryAddress":"2E4414CW","bits":16,"value":416,"timeStamp":"2015-09-23T17:29:51.006Z","vcuNumber":304,"runLengthMs":0}}]}}'
  recorded_at: Fri, 20 Nov 2015 12:51:38 GMT
[...]
- request:
    method: post
    uri: https://1c3896668c131013e40bf29fbe4b3148.eu-west-1.aws.found.io:9243/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E4414CW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1420070400000,"lte":1451606400000}}}]}}}},"size":0,"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","time_zone":"+01:00","min_doc_count":1,"extended_bounds":{"min":1420070400000,"max":1451606400000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":25247,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":8752942,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":[{"key_as_string":"2015-08-28T03:50:00.000+01:00","key":1440730200000,"doc_count":926,"average_value":{"value":139.56803455723542}},{"key_as_string":"2015-08-28T04:00:00.000+01:00","key":1440730800000,"doc_count":2892,"average_value":{"value":134.99343015214384}},{"key_as_string":"2015-08-28T04:10:00.000+01:00","key":1440731400000,"doc_count":3111,"average_value":{"value":146.77563484410157}},{"key_as_string":"2015-08-28T04:20:00.000+01:00","key":1440732000000,"doc_count":3020,"average_value":{"value":132.1715231[...]
