---
http_interactions:
- request:
    method: post
    uri: https://1c3896668c131013e40bf29fbe4b3148.eu-west-1.aws.found.io:9243/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"analyze_wildcard":true,"query":"memoryAddress:2E64930W
        OR memoryAddress:2E64932W OR memoryAddress:2E64934W OR memoryAddress:2E64936W"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1441105200000}}}]}}}},"size":0,"aggregations":{"weight_chart":{"date_histogram":{"field":"timeStamp","interval":"10m","time_zone":"+01:00","min_doc_count":1,"extended_bounds":{"min":1441101600000,"max":1441105200000}},"aggregations":{"weight":{"terms":{"field":"memoryAddress"},"aggregations":{"avg_weight":{"avg":{"field":"value"}},"max_weight":{"max":{"field":"value"}},"min_weight":{"min":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":6,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":5459,"max_score":0.0,"hits":[]},"aggregations":{"weight_chart":{"buckets":[{"key_as_string":"2015-09-01T11:00:00.000+01:00","key":1441101600000,"doc_count":1733,"weight":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"2E64930W","doc_count":455,"max_weight":{"value":58.0},"avg_weight":{"value":41.41318681318681},"min_weight":{"value":19.0}},{"key":"2E64936W","doc_count":439,"max_weight":{"value":46.0},"avg_weight":{"value":28.19362186788155},"min_weight":{"value":16.0}},{"key":"2E64932W","doc_count":435,"max_weight":{"value":62.0},"avg_weight":{"value":47.38850574712644},"min_weight":{"value":34.0}},{"key":"2E64934W","doc_count":404,"max_weight":{"value":65.0},"avg_weight":{"value":33.58910891089109},"min_weight":{"value":13.0}}]}},{"key_as_string":"2015-09[...]
