---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_10/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449741600000,"lte":1449745200000}}}]}}}},"size":10,"sort":{"timeStamp":"asc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":28,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":6027,"max_score":null,"hits":[{"_index":"train_data_2015_12_10","_type":"train_sample","_id":"03042E491EEW-187437600406","_score":null,"_source":{"id":"03042E491EEW-187437600406","trainNumber":0,"signalName":"@.MWT.M_T3_1.MRV_TrnSpd_1.TON_4.MRV_Xv_Trn","memoryAddress":"2E491EEW","bits":16,"value":7972,"timeStamp":"2015-12-10T10:00:00.406Z","vcuNumber":304},"sort":[1449741600406]},{"_index":"train_data_2015_12_10","_type":"train_sample","_id":"03042E491EEW-187437600506","_score":null,"_source":{"id":"03042E491EEW-187437600506","trainNumber":0,"signalName":"@.MWT.M_T3_1.MRV_TrnSpd_1.TON_4.MRV_Xv_Trn","memoryAddress":"2E491EEW","bits":16,"value":7968,"timeStamp":"2015-12-10T10:00:00.506Z","vcuNumber":304},"sort":[1449741600506]},{"_index":"train_data_2015_12_10","_type":"train_sample","_id":"03102E491EEW-187437600584","_score":null,"_source":{"i[...]
[...]
