---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_10/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449741600000,"lte":1449745200000}}}]}}}},"size":10,"sort":{},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":6027,"max_score":4.738052,"hits":[{"_index":"train_data_2015_12_10","_type":"train_sample","_id":"03042E491EEW-187438199203","_score":4.738052,"_source":{"id":"03042E491EEW-187438199203","trainNumber":0,"signalName":"@.MWT.M_T3_1.MRV_TrnSpd_1.TON_4.MRV_Xv_Trn","memoryAddress":"2E491EEW","bits":16,"value":0,"timeStamp":"2015-12-10T10:09:59.203Z","vcuNumber":304}},{"_index":"train_data_2015_12_10","_type":"train_sample","_id":"03042E491EEW-187438199903","_score":4.738052,"_source":{"id":"03042E491EEW-187438199903","trainNumber":0,"signalName":"@.MWT.M_T3_1.MRV_TrnSpd_1.TON_4.MRV_Xv_Trn","memoryAddress":"2E491EEW","bits":16,"value":2574,"timeStamp":"2015-12-10T10:09:59.903Z","vcuNumber":304}},{"_index":"train_data_2015_12_10","_type":"train_sample","_id":"03042E491EEW-187438200003","_score":4.738052,"_source":{"id":"03042E491EEW-187438200003","trainN[...]
[...]
