---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e5485aw
        AND value:1193"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449792000000,"lte":1449849742000}}}]}}}},"size":100,"sort":{"timeStamp":"desc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":163,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":13,"max_score":null,"hits":[{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03102E5485AW-187542457281","_score":null,"_source":{"id":"03102E5485AW-187542457281","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1193,"timeStamp":"2015-12-11T15:07:37.281Z","vcuNumber":310},"sort":[1449846457281]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03042E5485AW-187538288331","_score":null,"_source":{"id":"03042E5485AW-187538288331","trainNumber":0,"signalName":"@.MWT.S_ATC_T4_1.TOF_1.SSV_X_AtpWrstFwLocSegId","memoryAddress":"2E5485AW","bits":16,"value":1193,"timeStamp":"2015-12-11T13:58:08.331Z","vcuNumber":304},"sort":[1449842288331]},{"_index":"train_data_2015_12_11","_type":"train_sample","_id":"03102E5485AW-187538288190","_score":null,"_source"[...]
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_11/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2e64930w
        OR memoryAddress:2e64932w OR memoryAddress:2e64934w OR memoryAddress:2e64936w"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449849682000,"lte":1449849802000}}}]}}}},"size":0,"aggregations":{"results":{"filters":{"filters":{"2e64930w":{"term":{"memoryAddress":"2e64930w"}},"2e64932w":{"term":{"memoryAddress":"2e64932w"}},"2e64934w":{"term":{"memoryAddress":"2e64934w"}},"2e64936w":{"term":{"memoryAddress":"2e64936w"}}}},"aggregations":{"results":{"date_histogram":{"field":"timeStamp","interval":"10m","min_doc_count":1,"extended_bounds":{"min":1449849682000,"max":1449849802000}},"aggregations":{"average_value":{"avg":{"field":"value"}}}}}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":132,"max_score":0.0,"hits":[]},"aggregations":{"results":{"buckets":{"2e64930w":{"doc_count":26,"results":{"buckets":[{"key_as_string":"2015-12-11T16:00:00.000Z","key":1449849600000,"doc_count":26,"average_value":{"value":8.038461538461538}}]}},"2e64932w":{"doc_count":40,"results":{"buckets":[{"key_as_string":"2015-12-11T16:00:00.000Z","key":1449849600000,"doc_count":40,"average_value":{"value":18.6}}]}},"2e64934w":{"doc_count":32,"results":{"buckets":[{"key_as_string":"2015-12-11T16:00:00.000Z","key":1449849600000,"doc_count":32,"average_value":{"value":7.625}}]}},"2e64936w":{"doc_count":34,"results":{"buckets":[{"key_as_string":"2015-12-11T16:00:00.000Z","key":1449849600000,"doc_count":34,"average_value":{"value":18.0}}]}}}}}}'
  recorded_at: Mon, 14 Mar 2016 13:53:19 GMT
recorded_with: VCR 3.0.0
