---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data_2015_12_10/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1449741600000,"lte":1449745200000}}}]}}}},"size":0,"aggregations":{"langs":{"terms":{"field":"memoryAddress","size":0}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000004
      - instance-0000000004
      X-Found-Handling-Server:
      - 10.122.137.190
      - 10.122.137.190
    body:
      encoding: ASCII-8BIT
      string: '{"took":10,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":224682,"max_score":0.0,"hits":[]},"aggregations":{"langs":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"2e49e22w","doc_count":15835},{"key":"2e49e24w","doc_count":15820},{"key":"2e49e1ew","doc_count":15800},{"key":"2e49e20w","doc_count":15755},{"key":"2e4414cw","doc_count":10154},{"key":"2e4414aw","doc_count":9568},{"key":"2e49e3ew","doc_count":8694},{"key":"2e49e3cw","doc_count":8639},{"key":"2e49e38w","doc_count":8611},{"key":"2e49e3aw","doc_count":8602},{"key":"2e629d0w","doc_count":6891},{"key":"2e4540cw","doc_count":6270},{"key":"2e491eew","doc_count":6027},{"key":"2e450d8w","doc_count":4473},{"key":"2e49e16w","do[...]
[...]
