---
http_interactions:
- request:
    method: post
    uri: http://elastic.search/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1441105200000}}}]}}}},"size":0,"aggregations":{"langs":{"terms":{"field":"memoryAddress","size":0}}}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":31,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":97846,"max_score":0.0,"hits":[]},"aggregations":{"langs":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"2E4414CW","doc_count":15699},{"key":"2E4414AW","doc_count":14968},{"key":"2E4540CW","doc_count":10131},{"key":"2E491EEW","doc_count":9766},{"key":"2E49E16W","doc_count":8461},{"key":"2E450D8W","doc_count":4056},{"key":"2E450D6W","doc_count":3724},{"key":"2E450CAW","doc_count":3556},{"key":"2E464BAW","doc_count":2666},{"key":"2E464BCW","doc_count":2644},{"key":"2E464B6W","doc_count":1955},{"key":"2E464C4W","doc_count":1918},{"key":"2E464B8W","doc_count":1891},{"key":"2E464BEW","doc_count":1845},{"key":"2E4CD7CW","doc_[...]
