---
http_interactions:
- request:
    method: post
    uri: http://elastic.search//train_data/_count
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441094400000,"lte":1441098000000}}}]}}}},"size":100,"sort":{"timeStamp":"asc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000001
      - instance-0000000001
      X-Found-Handling-Server:
      - 10.105.22.170
      - 10.105.22.170
    body:
      encoding: ASCII-8BIT
      string: '{"count":10470,"_shards":{"total":1,"successful":1,"failed":0}}'
  recorded_at: Thu, 10 Dec 2015 14:41:37 GMT
[...]
- request:
    method: post
    uri: http://elastic.search//train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441094400000,"lte":1441098000000}}}]}}}},"size":100,"sort":{"timeStamp":"asc"},"from":0}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":111,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":10470,"max_score":null,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E491EEW-178790400046","_score":null,"_source":{"id":"03042E491EEW-178790400046","trainNumber":0,"signalName":"@.MWT.M_T3_1.MRV_TrnSpd_1.TON_4.MRV_Xv_Trn","memoryAddress":"2E491EEW","bits":16,"value":6078,"timeStamp":"2015-09-01T08:00:00.046Z","vcuNumber":304,"runLengthMs":100},"sort":[1441094400046]},{"_index":"train_data","_type":"train_sample","_id":"03042E491EEW-178790400246","_score":null,"_source":{"id":"03042E491EEW-178790400246","trainNumber":0,"signalName":"@.MWT.M_T3_1.MRV_TrnSpd_1.TON_4.MRV_Xv_Trn","memoryAddress":"2E491EEW","bits":16,"value":6071,"timeStamp":"2015-09-01T08:00:00.246Z","vcuNumber":304,"runLengthMs":0},"sort":[1441094400246]},{"_index":"train_data","_type":"train_sample","_id":"03042E491EEW-178790400531","_score":null,"_source":{"id":"03[...]
[...]
