---
http_interactions:
- request:
    method: post
    uri: https://1c3896668c131013e40bf29fbe4b3148.eu-west-1.aws.found.io:9243/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"query":"memoryAddress:2E491EEW"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1441105200000}}}]}}}},"size":10}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - application/json; charset=UTF-8
      Www-Authenticate:
      - Basic realm=shield
      X-Found-Handling-Cluster:
      - 1c3896668c131013e40bf29fbe4b3148
      - 1c3896668c131013e40bf29fbe4b3148
      X-Found-Handling-Instance:
      - instance-0000000000
      - instance-0000000000
      X-Found-Handling-Server:
      - 10.92.139.117
      - 10.92.139.117
    body:
      encoding: ASCII-8BIT
      string: '{"took":5,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":9766,"max_score":3.5170784,"hits":[{"_index":"train_data","_type":"train_sample","_id":"03042E491EEW-178797649093","_score":3.5170784,"_source":{"id":"03042E491EEW-178797649093","trainNumber":0,"signalName":"@.MWT.M_T3_1.MRV_TrnSpd_1.TON_4.MRV_Xv_Trn","memoryAddress":"2E491EEW","bits":16,"value":7399,"timeStamp":"2015-09-01T10:00:49.093Z","vcuNumber":304,"runLengthMs":0}},{"_index":"train_data","_type":"train_sample","_id":"03042E491EEW-178797649193","_score":3.5170784,"_source":{"id":"03042E491EEW-178797649193","trainNumber":0,"signalName":"@.MWT.M_T3_1.MRV_TrnSpd_1.TON_4.MRV_Xv_Trn","memoryAddress":"2E491EEW","bits":16,"value":7436,"timeStamp":"2015-09-01T10:00:49.193Z","vcuNumber":304,"runLengthMs":0}},{"_index":"train_data","_type":"train_sample","_id":"03042E491EEW-178797660506","_score":3.5170784,"_source":{"id":"03042E491EEW-178797660506","trainNumber"[...]
[...]
