---
http_interactions:
- request:
    method: post
    uri: https://rcmkibana.cloudapp.net/elasticsearch/train_data/_search
    body:
      encoding: UTF-8
      string: '{"query":{"filtered":{"query":{"query_string":{"analyze_wildcard":true,"query":"memoryAddress:[\"A\",
        \"2E64930W\"] OR memoryAddress:[\"B\", \"2E64932W\"] OR memoryAddress:[\"C\",
        \"2E64934W\"] OR memoryAddress:[\"D\", \"2E64936W\"]"}},"filter":{"bool":{"must":[{"range":{"timeStamp":{"gte":1441101600000,"lte":1441105200000}}}],"must_not":[]}}}},"size":0,"aggregations":{"weight_chart":{"aggregations":{"weight":{"avg":{"field":"value"}}}}}}'
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      - text/html
      Www-Authenticate:
      - Basic realm="Restricted Access"
      X-App-Name:
      - kibana
    body:
      encoding: ASCII-8BIT
      string: '{"error":"SearchPhaseExecutionException[Failed to execute phase [query],
        all shards failed; shardFailures {[6nYUt45VS3mBTHWc3HWsWA][train_data][0]:
        RemoteTransportException[[ElasticDB02][inet[/10.1.10.3:9300]][indices:data/read/search[phase/query]]];
        nested: SearchParseException[[train_data][0]: query[filtered(memoryAddress:[\"a\",
        TO 2e64930w] memoryAddress:[\"b\", TO 2e64932w] memoryAddress:[\"c\", TO 2e64934w]
        memoryAddress:[\"d\", TO 2e64936w])->BooleanFilter(+cache(timeStamp:[1441101600000
        TO 1441105200000]))],from[-1],size[0]: Parse Failure [Failed to parse source
        [{\"query\":{\"filtered\":{\"query\":{\"query_string\":{\"analyze_wildcard\":true,\"query\":\"memoryAddress:[\\\"A\\\",
        \\\"2E64930W\\\"] OR memoryAddress:[\\\"B\\\", \\\"2E64932W\\\"] OR memoryAddress:[\\\"C\\\",
        \\\"2E64934W\\\"] OR memoryAddress:[\\\"D\\\", \\\"2E64936W\\\"]\"}},\"filter\":{\"bool\":{\"must\":[{\"rang[...]
